{% load static %}
<link type="text/css" rel="stylesheet" href="{% static 'css/rspd.css' %}">
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div class="login-container">
            <div id="output"></div>
            <div class="avatar"></div>
            <div class="form-box">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{ form }}
                    <input name="user" type="text" placeholder="username">
                    <div class="password">
                        <input type="password" id="passwordfield" placeholder="password">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </div>
                    <button class="btn btn-info btn-block login" type="submit">Login</button>
                </form>
            </div>
        </div>
</div>